/* Override GeekDoc theme for full-width layout */
.gdoc-page,
.gdoc-page__inner,
.gdoc-page__header,
.gdoc-page__content,
.gdoc-markdown,
.gdoc-markdown__inner,
.container,
.gdoc-container,
.gdoc-main {
  max-width: 100% !important;
  width: 100% !important;
}

.container,
.gdoc-container,
.gdoc-page__content {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.gdoc-markdown table {
  width: 100%;
  display: table;
}

.gdoc-markdown pre {
  max-width: 100%;
}
