# The amba-maintainers team is responsible for reviewing and merging all PRs
* @Azure/amba-maintainers

## The amba-cosmos team is responsible for all CosmosDB related PRs
services/DocumentDB/databaseAccounts @Azure/aprl-maintainers @Azure/amba-cosmos

## The amba-mysql team is responsible for all MySQL related PRs
services/DBforMySQL @Azure/amba-maintainers @Azure/amba-mysql

## The amba-postgres team is responsible for all PostgreSQL related PRs
services/DBforPostgreSQL @Azure/amba-maintainers @Azure/amba-postgres

## The amba-sql team is responsible for all SQL related PRs
services/Sql @Azure/amba-maintainers @Azure/amba-sql

## The amba-vm team is responsible for all VM related PRs
services/Compute @Azure/amba-maintainers @Azure/amba-vm
