root = true

[*.{yml,yaml}]
indent_size = 2
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Ignore paths
[*/patterns/alz/policyDefinitions/*.json]
generated_code = true

[*.json]
indent_size = 2
indent_style = space
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false

[*]
indent_size = 2
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
