/*
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    z-index: 1000;
}

body {
    margin-bottom: 50px;
}
*/
